@font-face {
  font-family: "FabricMDL2Icons";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.woff2") format("woff2"),
    url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.woff") format("woff"),
    url("https://static2.sharepointonline.com/files/fabric/assets/icons/fabricmdl2icons-2.68.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: #84dc2c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 12px/1.5em sans-serif;
  background: #202020;
}

.App {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

.Title {
  text-align: center;
  font: 2rem/1.5em sans-serif;
  margin-bottom: 10px;
}

.Title span {
  vertical-align: super;
  font-size: 1rem;
  color: var(--green);
}

.HeaderButtons {
  display: flex;
  justify-content: flex-end;
}

.HeaderButtons > button {
  margin: 5px 0 5px 10px;
}

.color {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 6px;
  margin-top: 2px;
}

.keys {
  display: flex;
  justify-content: flex-end;
}

.key {
  padding: 2px 6px;
  background: var(--green);
  margin: 0 3px;
  color: #202020;
  font-weight: bold;
  border-radius: 5px !important;
}

.RoomHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HeaderButtons {
  margin-top: 10px;
}

.HeaderButtons button {
  margin: 5px 0 10px 10px;
  position: relative;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.HeaderButtons button.loading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
}

.HeaderButtons button.loading::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: FabricMDL2Icons;
  content: "\E895";
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

.RoomTitle {
  flex: 1;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 10px;
}

.Game {
  position: absolute;
  top: 80px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.GameSidebar {
  min-width: 280px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.GameContainer canvas {
  /* flex: 2; */
  /* flex: 0 1 auto; */
  width: 90vh;
  min-width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.GameContainer canvas:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.GameButtons {
  display: flex;
  flex-direction: column;
}

.GameButtons button {
  margin-bottom: 10px;
}

.ms-DetailsRow-fields div:last-child {
  text-align: right;
}

.ms-DetailsHeader .ms-DetailsHeader-cell:last-child .ms-DetailsHeader-cellTitle {
  justify-content: flex-end;
}

.StatsTitle {
  flex: 1;
  margin-left: 10px;
}

.StatsTitle b {
  color: var(--green);
}

.Footer {
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  padding: 10px;
}

button {
  border-radius: 5px !important;
}

@media only screen and (max-width: 768px) {
  .HeaderButtons {
    width: 100%;
    justify-content: center;
  }

  .HeaderButtons > button {
    flex: 1 1 auto;
  }

  button .ms-Button-flexContainer {
    align-items: center;
  }

  button .ms-Button-description {
    display: none;
  }

  button .ms-Button-label {
    margin-bottom: 0;
  }

  .HeaderButtons > button:last-child {
    margin-right: 10px;
  }
}

.Messages {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: calc(50% + 10px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 999;
  pointer-events: none;
}

.ms-MessageBar {
  margin-top: 10px;
  pointer-events: auto;
}

.fade-enter {
  opacity: 0.01;
  transform: translateX(100%);
}
.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}
.fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.fade-exit-done {
  display: none;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
  transform: translateX(100%);
}

.RoomList .empty {
  display: flex;
  justify-content: center;
  padding: 10px;
}
